*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}


.side-nav ul {
	text-align: center;
}

.side-nav ul li {
	position: relative;
  width: 70px;
  cursor: pointer;
	background: #4f48cf;
	text-transform: uppercase;
	transition:all .4s ease-out;
}

.side-nav ul li:after {
	position: absolute;
	background: white;
	color: #4f48cf;
	top:0;
	left: 70px;
	width: 70px; height: 100%;
  opacity:.5;
  transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
}

.side-nav ul li:nth-child(1):after { 
	content: "Search";
	line-height: 88px;
}
.side-nav ul li:nth-child(2):after { 
	content: "About";
	line-height: 88px;
}
.side-nav ul li:nth-child(3):after { 
	content: "Work";
	line-height: 85px;
}
.side-nav ul li:nth-child(4):after { 
	content: "Say hi";
	line-height: 70px;
}

.side-nav ul li:hover {
	transform: translateX(-70px);
}

.side-nav ul li:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}


.side-nav ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}

.side-nav ul li div { position: relative; }


