/* *,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}


.side-nav ul {
	text-align: center;
}

.side-nav ul li {
	position: relative;
  width: 70px;
  cursor: pointer;
	background: #4f48cf;
	text-transform: uppercase;
	transition:all .4s ease-out;
}

.side-nav ul li:after {
	position: absolute;
	background: white;
	color: #4f48cf;
	top:0;
	left: 70px;
	width: 70px; height: 100%;
  opacity:.5;
  transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
}

.side-nav ul li:nth-child(1):after { 
	content: "Search";
	line-height: 88px;
}
.side-nav ul li:nth-child(2):after { 
	content: "About";
	line-height: 88px;
}
.side-nav ul li:nth-child(3):after { 
	content: "Work";
	line-height: 85px;
}
.side-nav ul li:nth-child(4):after { 
	content: "Say hi";
	line-height: 70px;
}

.side-nav ul li:hover {
	transform: translateX(-70px);
}

.side-nav ul li:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}


.side-nav ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}

.side-nav ul li div { position: relative; }

 */
 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

 
 
 /* nav css  */
.sidebar {
	margin-top:-120px;
	
   background-color: #4f48cf;
   width: max-content;
   padding: 0.5rem 0.8rem;
   z-index: 11;
   position: fixed;
   
   display: flex;
   gap: 0.8rem;
   border-radius: 3rem;
   backdrop-filter: blur(15px);
   font-size: 1.2rem;
   transition: all 0.2s ease-in-out; 
   
 }
 .sidebar a {
   background: transparent;
   padding: 0.5rem 0.3rem;
   border-radius: 100px;
   display: flex;
   color: white;
 }
 .sidebar a:hover {
   background: rgba(0, 0, 0, 0.3);
   color: black;
 }
 .sidebar a:active {
   background-color: #ffffff;
   color: black;}

 .sidebar:hover {
	transform: scale(1.05);
	box-shadow: 0px 25px 15px -15px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	
  }
 

 /*search slide out*/
 