
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HealthMate</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
    integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <script src="/static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    {% load static %}
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/./"><img src="/static/img/logo.png" width="150px" object-fit="cover">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item mx-auto">
              <a class="nav-link " aria-current="page" href="/./">Home</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link" href="/./ourservices">Our Services</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link" href="/./blog">Blog</a>
            </li>
            
            <li class="nav-item dropdown mx-auto">
              <a class="nav-link " href="/./ourdoctors">
                Our Doctors
              </a>
              <!-- {% comment %} <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">General Physician</a></li>
                <li><a class="dropdown-item" href="#">Pediatrician</a></li>
                <li><a class="dropdown-item" href="#">Urologist</a></li>
                <li><a class="dropdown-item" href="#">Dermatologist</a></li>
                <li><a class="dropdown-item" href="#">Dietician</a></li>
                <li><a class="dropdown-item" href="#">Cardiologist</a></li>
                <li><a class="dropdown-item" href="#">Radiologist</a></li>
                <li><a class="dropdown-item" href="#">Hepatologist</a></li>
                
              </ul> {% endcomment %} -->
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link " href="/./about">About Us</a>
            </li>
          </ul>
          <!-- <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
        </div>
      </div>
    </nav>

  </section>

 {% block content %}
 {% endblock %}




  <!------------------------ Social Media Section ---------------------------------------->
  <section id="social-media">
    <div class="container text-center">
      <p>FIND US ON SOCIAL MEDIA</p>
      <div class="social-icons">
        <a href="#"><img src="/static/img/facebook-icon.png"></a>
        <a href="#"><img src="/static/img/instagram-icon.png"></a>
        <a href="#"><img src="/static/img/twitter-icon.png"></a>
        <a href="#"><img src="/static/img/whatsapp-icon.png"></a>
        <a href="#"><img src="/static/img/linkedin-icon.png"></a>
        <a href="#"><img src="/static/img/snapchat-icon.png"></a>

      </div>
    </div>
  </section>
<!------------------Footer section-------------------->

  <section id="footer">
    <img src="/static/img/wave2.png" class="footer-img">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-box">
          <img src="/static/img/logo.png" width="200px" object-fit="cover">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quas voluptatum voluptates voluptatibus quae
            sint quos eum quam sed eius fuga fugit fugi
        </div>
        <div class="col-md-4 footer-box">
          <p>CONTACT US</p>
          <p><i class="fa fa-map-marker"></i> Nepal College Of Information Technology,Lalitpur</p>
          <p><i class="fa fa-phone"></i> 01-5186354</p>
          <p><i class="fa fa-envelope-o"></i> info@ncit.edu.np</p>
        </div>
        <div class="col-md-4 footer-box">
          <p><b>SUBSCRIBE NEWSLETTER</b></p>
          <input type="email" class="form-control" placeholder="Your Email">
          <button type="button" class="btn btn-primary">Subscribe</button>
        </div>

<!--
         <div class="col-md-4 footer-box">
          <p>USEFUL LINKS</p>
          <div class="menu-useful-links-container">
            <ul class="menu-useful-links">
              <li id="menu-items">
                <a href="#"class="text-footer">Home</a>
              </li>
              <li id="menu-items">
                <a href="#"class="text-footer">Blog</a>
              </li>

            </ul>

          </div> -->

      </div>
      <hr>
      <p class="copyright">Copyright<i class="fa fa-copyright"></i> 2023 ALL RIGHTS RESERVED</p>
    </div>
  </section>










  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
    integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
    crossorigin="anonymous"></script>
  
</body>



</html>